@import url('https://fonts.googleapis.com/css?family=Roboto');

$main-font: 'Roboto', sans-serif;
$font-color: rgb(70, 70, 70);
$nice-color: rgb(88, 185, 88);
$body-bg-color: rgba(146, 190, 201, 0.699);
$wrapper-bg-color: rgb(241, 241, 241);