.single-task {
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 2px solid lighten($font-color, 50%);

    .single-task-div {

        .task-section {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .task-section-btns {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .nice-btn {
                    background: lighten($nice-color, 15%)
                }
            }

                p:first-of-type {
                    flex-basis: 20%;
                    font-weight: 600;
                }

                p:nth-of-type(2) {
                    flex-basis: 80%;                
                }

                h4 {
                    flex-basis: 70%;
                }
                
                .delete-btn {
                    flex-basis: 10%;
                    background-color: lighten($danger-color, 40%);
                }

                .done-time {
                    font-size: 80%;
                }
        }
    }
}